body {
  margin: 0;
  padding: 20px 0 0 0;
  font-family: sans-serif;
}

input {
  height: 100px;
  font-size: 40px;
  margin-top: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.word {
  padding: 14px 22px;
}

.match {
  color: #3ab4a6;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 50px;
}

.block {
  background: #49505a;
  font-size: 18px;
  color: #ddd;
  font-family: Raleway, sans-serif;
  margin-top: 10px;
  position: relative;
}

.blockTimer {
  position: absolute;
  right: -25px;
  top: -22px;
  width: 50px;

  background: #49505a;
  border-radius: 25px;
}
